fastapi==0.98.0
uvicorn==0.22.0
typing-extensions==4.6.3
sqlalchemy
python-multipart
mysql-connector-python==8.0.33
mysql-connector==2.2.9
alembic==1.11.1
PyMySQL==1.1.0
cryptography==2.8
email-validator
fastapi-mail
#cachetools
#fastapi-cache2
redis
python-multipart
python-jose
opentelemetry-distro==0.40b0
opentelemetry-exporter-otlp-proto-grpc==1.19.0
opentelemetry-exporter-jaeger==1.19.0
opentelemetry-instrumentation-fastapi==0.40b
opentelemetry-instrumentation-sqlalchemy==0.40b0
elastic-apm
gunicorn
fastapi_keycloak
requests==2.31.0
APScheduler==3.10.4